<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="./css/styles.css" rel="stylesheet" />
</head>

<body>
  <%- include(`header.ejs`) %>
  <table>
    <% for (var i = 0; i < getTodos.length; i++) { %>
    <tr>
      <th>
        <%= `Todo - ` + (i + 1) %>
      </th>
      <td>
        <%= getTodos[i].title %>
      </td>
    </tr>
    <% } %>
  </table>
</body>

</html>