<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Todo Application</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="font-sans">
  <div class="min-h-screen flex flex-col items-center pt-8">
    <div class="w-full max-w-2xl px-4 space-y-4">
      <%- include(`header.ejs`) %>
      <%- include(`todo.ejs`) %>
      <%- include(`footer.ejs`) %>
    </div>
  </div>
</body>

</html>