@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .task-checkbox {
    @apply relative flex items-center justify-center w-5 h-5 border-2 border-gray-300 rounded
      peer-checked:bg-blue-600 peer-checked:border-blue-600 transition-all duration-200
      hover:border-blue-400 active:scale-90 cursor-pointer;
  }
  .task-checkbox::after {
    content: "";
    @apply absolute w-2 h-3.5 border-white border-r-2 border-b-2 transform rotate-45 opacity-0
      -translate-y-0.5 z-10;
  }
  .peer-checked .task-checkbox::after {
    @apply opacity-100;
  }
  .task-item {
    @apply flex items-center border-b border-gray-100 last:border-none py-4 hover:bg-gray-50 rounded-lg;
  }
  .task-label {
    @apply flex items-center justify-center h-full mr-4;
  }
}
